$color_1: #ffff;
$font-family_1: "Montserrat";
$background-color_1: black;


.banner{
	margin: 63px auto 0 auto;
	height: 223px;
	border-radius: 25px;
	height: 223px;
	border-radius: 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	background: no-repeat center;


&__img {

	border-radius: 25px;
    margin: 63px auto 0 auto;
	width: 90%;
	height: 223px;
	border-radius: 25px;
	justify-content: center;
	align-content: center;
	object-fit: cover;
	filter: brightness(70%);



&__title {
	font-family: $font-family_1;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-weight: 700;
	font-size: 48px;
	line-height: 68px;
	color: $color_1;
	position: absolute;
	top: 250px;
}
}
@media screen and (max-width:900px) {
	.banner__img {
		height: 111px;
	}

	.banner__img__title {
		font-size: 24px;
		top: 220px;
	}
}
}