$background-color_1: black;

.banner{
	background-color: $background-color_1;
	margin: 63px auto 0 auto;
	mix-blend-mode: darken;
	width: 90%;
	height: 223px;
	border-radius: 25px;

&_about {

	height: 223px;
	border-radius: 25px;
	opacity: 0.7;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	background: url(../images/banner_about.png) no-repeat center;
	background-size: cover;
}
}
@media screen and (max-width: 850px) {
	.banner {
		height: 111px;

	}
	.banner__about {
		height: 111px;
		border-radius: 10px;
	}
}


