$color_1: #ffff;
$font-family_1: "Montserrat";
$background-color_1: black;


.banner{
	background-color: $background-color_1;
	margin: 63px auto 0 auto;
	mix-blend-mode: darken;
	width: 80%;
	height: 223px;
	border-radius: 25px;

&__home {
	height: 223px;
	border-radius: 25px;
	opacity: 0.6;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	background: url(../images/banner_background.jpg) no-repeat center;
	background-size: cover;

}
&__title {
	font-family: $font-family_1;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-weight: 700;
	font-size: 48px;
	line-height: 68px;
	color: $color_1;
}
}
@media screen and (max-width:850px) {
	.banner,.banner__home {
		height: 111px;
	}

	.banner__title {
		font-size: 24px;
	}
}
