$color_1: #ff6060;
$color_2: black;

.error_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center; 
}
.error_title {
	margin-bottom: 139px;
	margin-top: 139px;
	font-weight: 700;
	font-size: 288px;
	color: $color_1;
}
.error_subtitle {
	font-size: 36px;
	line-height: 26px;
	color: $color_1;
	margin: 0;
}
.error_return {
	margin-bottom: 139px;
	margin-top: 139px;
	list-style-type: none;
	font-size: 18px;
	color: $color_2;
}

@media screen and (max-width: 900px) {
   .body{
	max-height:900px ;
   }
   .error_title {
	font-size:96px;
	width: 198px;
	height: 99px;
	}
	.error_subtitle{
		
		font-size: 18px;
		
		
	}
	.error_return {
		font-size: 14px;


  }
}