$color_1: #FF6060;
$color_2: #000;
$color_3: #FFF;
$font-family_1: Montserrat;
$background-color_1: #FF6060;


.collapseWrapper{
	display: flex;
	margin-bottom: 50px;
	gap:50px;
	margin-right: 50px;
	margin-left: 50px;
	justify-content: center;
	max-width:2000px;
	@media screen and (max-width: 850px) {
		display: flex;
		flex-direction: column;
		width: 98%;
		align-items: center;
		margin-left: unset;
		margin-left: 50px;
	}


}

.collapseEquipements{
	width: 582px;
	display: flex;
	@media screen and (max-width: 850px) {
		display: flex;
		flex-direction: column;
		width: 100%;

	}
	
	

}
.collapseDescription{
	width: 582px;
	display: flex;
	@media screen and (max-width: 850px) {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

}




.infoLogement {
	display: flex;
	flex-direction: column;
	font-weight: 500;
	font-size: 14px;
	h1 {
		color: $color_1;
		font-size: 36px;
		font-family: $font-family_1;
		margin-left: 50px;
	}
	p {
		color: $color_2;
		font-family: $font-family_1;
		font-size: 18px;
		margin-left: 50px;
	}
}
.tags {
	display: flex;
	justify-content: flex-start;
	gap: 10px;
	margin-bottom: 24px;
	margin-left: 50px;
	button {
		color: $color_3;
		text-align: center;
		font-family: $font-family_1;
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		height: 25px;
		background-color: $background-color_1;
		border-radius: 10px;
		border: none;
	}
}
.hotelogement {
	display: flex;
	gap: 20px;
	justify-content: flex-end;
	@media screen and (max-width: 850px) {
		margin-left: 50px;
		margin-right: 150px;
	
		flex-direction: row-reverse;
		justify-content: space-between;
	}


	span {
		color: $color_1;
		text-align: right;
		font-family: $font-family_1;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		
	}
	img {
		border-radius: 50%;
		width: 64px;
	}
}
.hotelogementname {
	display: flex;
	flex-direction: column;
	position: relative;
	top:-160px;
	left:50px;

	img{ 
         position: relative;
		 top:-50px;
		 left:90px;
	}
	
}
.noteWrapper{
position: relative;
top:-60px;
right:70px;

}
.hoteHebergementNote {

	img {
		height: 36px;
		width: auto;
		

	}
}
@media screen and (max-width: 850px) {


	.infoLogementWrapper {
		display: flex;
		flex-direction: column;

	}

	.noteWrapper {

		position:unset;
	}

	.hotelogementname {
		position:unset;
	}
}